[Unit]
Description=Run DataSpace startup script at boot
After=network.target

[Service]
Type=oneshot
User=dataspace_app
WorkingDirectory=/home/dataspace_app/DataSpace
ExecStart=/home/dataspace_app/DataSpace/startup.sh
ExecStop=/usr/bin/docker compose -f /home/dataspace_app/DataSpace/docker-compose.yml down

[Install]
WantedBy=multi-user.target
